@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8ff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter",sans-serif;
}

th {
  @apply text-left px-4 py-2 border-b ;
}

td {
  @apply px-4 py-2;
}

input[type="email"],
input[type="text"] {
  @apply mt-1 block w-full px-4 py-2 border rounded-md focus:outline-none;
}

.btns {
  @apply flex justify-between w-full gap-2;
}

.btn {
  @apply text-white w-full px-4 py-2 rounded-lg shadow-sh;
}

.modal {
  @apply fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50;
}

.statsDiv {
  @apply text-2xl text-center  h-fit p-4 bg-white shadow-md rounded-lg overflow-hidden flex flex-col items-center ;
}

.statsTD{
  @apply px-6 py-4 border-b border-gray-300 text-left;
}

.statsH3{
  @apply text-base font-semibold text-gray-500 text-nowrap;
}
.statsP{
  @apply text-2xl font-bold;
}
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}