@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter";
}

th{
  @apply text-left px-4 py-2 border-b
}